body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.image-gallery {
    display: flex;
    width: 600px;
    height: 430px;
}

.image-gallery img {
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: width 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
    width: 0;
}

.image-gallery img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}